* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --accent-color: #2935CE;
  --accent-darken-color: #242eb3;
  --almost-white: #F3F3F3;
  --not-quite-white: #E9E9E9;
  --grey-color: #DEDEDE;
  /* Layout */
  --page-width: 1100px;
}

@font-face {
  font-family: "title-bold";
  src: url("../res/fonts/montserrat_bold.otf");
}
@font-face {
  font-family: "text-regular";
  src: url("../res/fonts/open_sans_regular.ttf");
}

.text-sm--light {
  font-family: "text-regular";
  color: white;
  font-size: 13px;
}

.text--dark {
  font-family: "text-regular";
  color: black;
  font-size: 16px;
}
.text--light {
  font-family: "text-regular";
  color: white;
  font-size: 16px;
}

.title--dark {
  font-family: "title-bold";
  color: black;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
}
.title--light {
  font-family: "title-bold";
  color: white;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
}

.title-lg--accent {
  font-family: "title-bold";
  color: var(--accent-color);
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}


body {
  display: grid;
  grid-template-columns: 1fr var(--page-width) 1fr;
  grid-template-rows: auto 1fr 50px;
  grid-template-areas:
  "header header  header"
  ".      main    ."
  ".      footer  ."
  ;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--accent-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  margin: 0 20px 0 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px 10px 10px 0;
  padding: 5px 20px 5px 20px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.nav-list__item--selected {
  position: relative;
  background-color: white;
  color: black;
  margin: 10px 10px 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-list__item--selected::after {
  content: "";
  position: absolute;
  height: 10px;
  width:  100%;
  bottom: -10px;
  left: 0px;
  background-color: white;
}

.nav-list__item-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
  "subheader  subheader"
  "list       info"
  "list       lendings"
  ;
  gap: 20px;
}

.page-subheader {
  grid-area: subheader;
  padding: 20px 0 0 0;
}

.card-title {
  margin: 0 0 10px 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--almost-white);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px 8px 8px 8px;
}

.table th {
  background-color: var(--accent-color);
  color: white;
}
.table th:hover {
  cursor: pointer;
  background-color: var(--accent-darken-color);
}

.table tr:hover {
  cursor: pointer;
  background-color: var(--grey-color);
}

/* Table head rounded corners */

.table thead tr > th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table thead tr > th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody tr:nth-child(odd) {
  background-color: var(--not-quite-white);
}

.table th {
  text-align: start;
  font-family: "text-regular";
  font-size: 16px;
  user-select: none;
}
.table td {
  text-align: start;
  font-family: "text-regular";
  font-size: 16px;
}

.table-align-end {
  text-align: end;
}

.order__icon {
  visibility: hidden;
  vertical-align: middle;
  height: 26px;
}

.table__order--asc .order__icon {
  visibility: visible;
  display: inline;
  transform: rotate(0deg);
}
.table__order--desc .order__icon{
  visibility: visible;
  display: inline;
  transform: rotate(180deg);
}

.customer-list {
  grid-area: list;
}

.customer-infos {
  grid-area: infos;
}

.customer-lendings {
  grid-area: lendings;
}

footer {
  grid-area: footer;
}
