* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #2935CE;
}

@font-face {
  font-family: "title-regular";
  src: url("../res/fonts/montserrat_regular.otf");
}
@font-face {
  font-family: "title-bold";
  src: url("../res/fonts/montserrat_bold.otf");
}
@font-face {
  font-family: "text-regular";
  src: url("../res/fonts/open_sans_regular.ttf");
}

.text-sm--light {
  font-family: "text-regular";
  color: white;
  font-size: 13px;
}

.text--dark {
  font-family: "text-regular";
  color: black;
  font-size: 16px;
}
.text--light {
  font-family: "text-regular";
  color: white;
  font-size: 16px;
}


body {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: auto 1fr 50px;
  grid-template-areas:
  "header header  header"
  ".      main    ."
  ".      footer  ."
  ;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: header;
  background-color: var(--accent-color);
}

.page-title {
  font-family: "title-bold";
  color: white;
  font-size: 25px;
  margin: 0 20px 0 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px 10px 10px 0;
  padding: 5px 20px 5px 20px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.nav-list__item--selected {
  position: relative;
  background-color: white;
  color: black;
  margin: 10px 10px 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-list__item--selected::after {
  content: "";
  position: absolute;
  height: 10px;
  width:  100%;
  bottom: -10px;
  left: 0px;
  background-color: white;
}

.nav-list__item-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
