* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --accent-color: #2935CE;
  --accent-darken-color: #242eb3;
  --almost-white: #F3F3F3;
  --not-quite-white: #E9E9E9;
  --grey-color: #DEDEDE;
  --error-color: #C71A1A;
  --warning-color: #FFB224;
  --light-blue: #A0C6EB;
  --not-quite-light-blue: #7DA8D1;
  /* Layout */
  --page-width: 1100px;
}

@font-face {
  font-family: "title-bold";
  src: url("../res/fonts/montserrat_bold.otf");
}
@font-face {
  font-family: "text-regular";
  src: url("../res/fonts/open_sans_regular.ttf");
}

.text-sm--light {
  font-family: "text-regular";
  color: white;
  font-size: 13px;
}

.text--dark {
  font-family: "text-regular";
  color: black;
  font-size: 16px;
}
.text--light {
  font-family: "text-regular";
  color: white;
  font-size: 16px;
}

.title--dark {
  font-family: "title-bold";
  color: black;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
}
.title--light {
  font-family: "title-bold";
  color: white;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
}

.title-lg--accent {
  font-family: "title-bold";
  color: var(--accent-color);
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
}

.input {
  background-color: white;
  border: 1px solid var(--grey-color);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: "text-regular";
  color: black;
  font-size: 16px;
}

.icon-button {
  background-color: var(--grey-color);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 0 5px 0 5px;
}
.icon-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.icon-button:hover > img {
  filter: invert(100%);
}

.icon-button > img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

body {
  display: grid;
  grid-template-columns: 1fr var(--page-width) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header  header"
  ".      main    ."
  "footer footer  footer"
  ;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--accent-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  margin: 0 20px 0 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px 10px 10px 0;
  padding: 5px 20px 5px 20px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.nav-list__item--selected {
  position: relative;
  background-color: white;
  color: black;
  margin: 10px 10px 0 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-list__item--selected::after {
  content: "";
  position: absolute;
  height: 10px;
  width:  100%;
  bottom: -10px;
  left: 0px;
  background-color: white;
}

.nav-list__item-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  filter: invert(100%);
}
.nav-list__item--selected .nav-list__item-icon {
  filter: none;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
  "subheader  subheader"
  "list       info"
  "list       lendings"
  ;
  gap: 20px;
}

.page-subheader {
  display: flex;
  grid-area: subheader;
  padding: 20px 0 0 0;
  justify-content: space-between;
}

/* Search */

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__label {
  margin: 0 10px 0 0;
}

#search__input {
  margin: 0 5px 0 0;
}

/* Sections */

.section {
  display: flex;
  flex-direction: column;
}

.section__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__title {
  margin: 10px 0 10px 0;
}

.section__action {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.section__content {
  position: relative;
  grid-area: content;
  background-color: var(--almost-white);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* Section action */

.action-button {
  border: none;
  background-color: var(--almost-white);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin: 0 0 0 5px;
}
.action-button:hover {
  cursor: pointer;
  background-color: var(--not-quite-white);
}
.action-button:disabled {
  opacity: 0.5;
}
.action-button:hover:disabled {
  cursor: default;
  background-color: var(--almost-white);
}

.action-button__icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px 8px 8px 8px;
}

.table th {
  background-color: var(--accent-color);
  color: white;
}
.table th:hover {
  cursor: pointer;
  background-color: var(--accent-darken-color);
}

.table tr:hover {
  cursor: pointer;
  background-color: var(--grey-color);
}

/* Table head rounded corners */

.table thead tr > th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table thead tr > th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody tr:nth-child(odd) {
  background-color: var(--not-quite-white);
}

.table th {
  text-align: start;
  font-family: "text-regular";
  font-size: 16px;
  user-select: none;
}
.table td {
  text-align: start;
  font-family: "text-regular";
  font-size: 16px;
}

.table-align-end {
  text-align: end;
}

.order__icon {
  visibility: hidden;
  vertical-align: middle;
  height: 26px;
  filter: invert(100%);
}

.table__order--asc .order__icon {
  visibility: visible;
  display: inline;
  transform: rotate(0deg);
}
.table__order--desc .order__icon{
  visibility: visible;
  display: inline;
  transform: rotate(180deg);
}

.selected-row {
  background-color: var(--light-blue) !important;
}
.selected-row:hover {
  background-color: var(--not-quite-light-blue) !important;
}

.customer-list {
  grid-area: list;
}

.customer-infos {
  grid-area: infos;
}

/* Customer info form */

.info-form {
  display: flex;
  flex-direction: column;
}

.info-form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
  "id         street"
  "title      street-number"
  "name       onrp"
  "surname    city"
  "birthday   ."
  "phone      ."
  ;
  row-gap: 10px;
  column-gap: 10px;
}

.info-form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-form__item > label {
  width: 130px;
}

.info-form__input {
  padding: 5px 10px 5px 10px;
  background-color: white;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  width: auto;
}
.info-form__input:hover:disabled {
  cursor: default;
}
.info-form__input[readonly],
.info-form__input:disabled {
  background-color: transparent;
  border: 1px solid transparent;
}

/* All customer info inputs */
.cust-id {
  grid-area: id;
}
.cust-title {
  grid-area: title;
}
.cust-name {
  grid-area: name;
}
.cust-surname {
  grid-area: surname;
}
.cust-birthday {
  grid-area: birthday;
}
.cust-phone {
  grid-area: phone;
}
.cust-street {
  grid-area: street;
}
.cust-street-number {
  grid-area: street-number;
}
.cust-onrp {
  grid-area: onrp;
}
.cust-city {
  grid-area: city;
}

.info-form__action {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0 0 0;
}

.info-form__action-button {
  border: none;
  background-color: var(--grey-color);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin: 0 3px 0 3px;
}
.info-form__action-button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
}
.info-form__action-button:disabled {
  opacity: 0.5;
}
.info-form__action-button:hover:disabled {
  cursor: default;
  background-color: var(--grey-color);
}

.info-form__action-button__icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.customer-lendings {
  grid-area: lendings;
}

.customer-lending-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--grey-color);
  border-radius: 5px;
}

/* Footer */

footer {
  grid-area: footer;
  background-color: var(--almost-white);
  margin: 20px 0 0 0;
  padding: 20px;
}

/* Message box */

.message-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px) brightness(0.3);
  display: grid;
  display: none;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
  ".  .         ."
  ".  dialogue  ."
  ".  .         ."
  ;
}

.dialogue {
  grid-area: dialogue;
  border-radius: 10px;
  padding: 20px;
}

.dialogue--error {
  background-color: var(--error-color);
}

.dialogue--warning {
  background-color: var(--warning-color);
}

.dialogue__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0 0 0;
}

.dialogue-button {
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
  margin: 0 0 0 10px;
  width: 120px;
}
.dialogue-button:hover {
  cursor: pointer;
}
